@font-face {
    font-family: "Sofia";
    src: url(../fonts/Sofia_Sans/static/SofiaSans-Regular.ttf);
}

@font-face {
    font-family: "SofiaBold";
    src: url(../fonts/Sofia_Sans/static/SofiaSans-Bold.ttf);
}

@font-face {
    font-family: "SofiaItalic";
    src: url(../fonts/Sofia_Sans/static/SofiaSans-Italic.ttf);
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway/static/Raleway-Regular.ttf);
}

.logo {
    height: 75px;
    padding-left: 125px;
}

/* .bd {
    background: linear-gradient(#6E6E6E,#F5F5F5);  
} */

.title {
    font-family: 'Sofia';
    font-size: 50px;
    display: table;
    margin: 0 auto;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.bd div {
    width: 100%;
}

.text {
    font-family: 'Raleway';
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
    border: 5px solid none;
}

@media (max-width:481px) {
    .logo {
        padding-left: 0px;;
    }
}
